.messageBox{
    /* overflow: auto; */
    background-color:rgb(138, 19, 19);
    width: 50%;
    padding: 0.2vmax;
    display:block;
    margin: 0.5vmax;
    border-radius: .5vmax;
    padding-left: 0.8vmax;
    clear: both;
    font-size: 20px;

}
.right{
    float: right;
    background-color:rgb(174, 156, 97);
    color: rgb(6, 6, 6);
    
}
.left{
    float: left;
    background-color:rgb(246, 247, 246);
    color: rgb(5, 5, 5);
    
}
@media(max-width: 700px){
    .messageBox{
        
        clear: both;
        font-size: 15px;
        width: 90%;

    
    }    
}